.footer {
  flex-shrink: 0;
  padding: 15px 0;
}

.divider {
  margin: 20px 0;
}

.social {
  display: block;
  margin: 0 auto;
}

.icon:hover {
  opacity: 1;
}

.title {
  margin-bottom: 19px;
}

.descr {
  margin: 0;
  font-size: 14px;
  line-height: 25.5px;
  max-width: 840px;
  font-weight: 300;
  color: hsl(0deg 0% 100% / 80%);
  text-align: left;
  text-shadow: 0 1px 0 rgb(0 0 0 / 20%);

  @media (width <= 576px) {
    font-size: 13px;
  }

  @media (width <= 375px) {
    font-size: 12px;
  }
}