.root {
  margin-bottom: 22px;
}

.logo {
  position: relative;
  display: block;
  width: 420px;
  height: 140px;
}

.img {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  color: transparent;
  object-position: bottom left;
  object-fit: contain;
  max-width: 100%;
}