.root {
  margin-bottom: 22px;
}

.logo {
  position: relative;
  display: block;
  width: 420px;
  height: 140px;

  @media (width <= 992px) {
    width: 300px;
    height: 100px;
  }

  @media (width <= 576px) {
    width: 268px;
    height: 89px;
  }
}

.img {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  color: transparent;
  object-position: bottom left;
  object-fit: contain;
  max-width: 100%;
}

.title {
  text-shadow: 0 1px 0 rgb(0 0 0 / 20%);
}