.link {
  color: var(--color-white);
  display: flex;
  align-items: center;
  font-size: 14px;

  @media (width <= 768px) {
    span {
      display: none;
    }
  }
}

.icon {
  display: block;
  width: 24px;
  height: 24px;

  @media (width <= 576px) {
    width: 22px;
    height: 22px;
  }
}
