.list {
  display: flex;
  align-items: center;
  list-style: none;

  @media (width <= 864px) {
    & {
      display: none;
    }
  }
}

.item {
  margin-right: 30px;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 14px;
  line-height: 22px;
  opacity: 0.6;
  color: var(--color-white);
  transition: opacity var(--duration);
  text-decoration: none;
}

.link:hover {
  opacity: 1;
}

.link__active {
  opacity: 1;
}

.link__active::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -10px;
  right: -10px;
  height: 2px;
  background: linear-gradient(
    270deg,
    transparent 0.17%,
    #e50914 15%,
    #fff 50%,
    #e50914 85%,
    transparent
  );
}
