# This is sample on .env.local file that have environment of project

# Create .env.local at root of your project

# Copy and paste this variables

# Paste your api key to API_KEY variable
# You can get it here https://api.kinopoisk.dev/v1/documentation
BASE_URL='https://api.kinopoisk.dev'
API_KEY='__YOUR_API_KEY__'

# Any string
OMDB_SECRET='hi_there'

# You need to obtain OAuth credentials (client id and secret) from the Google API Console.
# Instructions https://developers.google.com/identity/protocols/oauth2?hl=en
GOOGLE_CLIENT_ID='__YOUR_GOOGLE_CLIENT_ID__'
GOOGLE_SECRET='__YOUR_GOOGLE_SECRET__'

# You need to obtain OAuth credentials (client id and secret) from the GitHub - https://github.com/settings/developers
GITHUB_CLIENT_ID='__YOUR_GITHUB_CLIENT_ID__'
GITHUB_SECRET='__YOUR_GITHUB_SECRET__'

# Any string
NEXTAUTH_SECRET='supersecret'

# Project base url
NEXTAUTH_URL='http://localhost:3000'

# To begin, you need to acquire Firebase credentials from https://firebase.google.com/
# After obtaining the credentials, proceed to create a Firestore database and add two collections: 'history' and 'saved-movies'.
REACT_APP_FIREBASE_API_KEY = ''
REACT_APP_FIREBASE_AUTH_DOMAIN = ''
REACT_APP_FIREBASE_PROJECT_ID = ''
REACT_APP_FIREBASE_STORAGE_BUCKET = ''
REACT_APP_FIREBASE_MESSAGING_SENDER_ID = ''
REACT_APP_FIREBASE_APP_ID = ''