.modal {
  position: fixed;
  inset: 0;
  overflow-x: hidden;
  text-align: center;
  z-index: var(--modalbg-z-index);
}

.modal::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.modal::after {
  content: "";
  display: block;
  position: fixed;
  inset: 0;
  cursor: pointer;
  background-color: rgb(0 0 0 / 70%);
}

.container {
  position: relative;
  z-index: var(--modal-z-index);
  margin: 35px auto;
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
  background-color: #000;
}

.btn {
  top: -35px;
  right: -35px;
  width: 18px;
  height: 18px;
  background-color: transparent;
  transition: opacity var(--duration);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}