.modal {
  position: fixed;
  inset: 0;
  overflow-x: hidden;
  text-align: center;
  z-index: var(--modal-bg-z-index);
  padding: 26px;
  transition: opacity var(--duration);
  opacity: 0;

  &.open {
    opacity: 1;
  }

  @media (width <= 576px) {
    padding: 20px;
  }
}

.modal::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.modal::after {
  content: "";
  display: block;
  position: fixed;
  inset: 0;
  background-color: var(--color-overlay);
}

.darkBg::after {
  background-color: var(--color-overlay-dark);
}

.container {
  position: relative;
  z-index: var(--modal-z-index);
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
}

.btn {
  width: 20px;
  height: 20px;
  top: 30px;
  right: 30px;
  z-index: var(--modal-content-z-index);
  position: absolute;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--color-white);
  }
}