.btn {
  display: block;
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  border-radius: 10px;
  color: var(--color-white);
  background-color: var(--color-gray-100);
  transition: background-color var(--duration),color var(--duration);

  font-size: 13.5px;
  line-height: 18px;
  min-width: 43px;
  min-height: 43px;
  padding: 12px;
}

.btn:hover {
  background-color: var(--color-gray-200);
}

.disabled {
  cursor: default;
  color: hsla(0,0%,100%,.4);
}

@keyframes shimmerAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100px);
  }
}

.disabled::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .7;
  background-image: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.2) 20%,hsla(0,0%,100%,.5) 60%,hsla(0,0%,100%,0));
  animation: shimmerAnimation 1.5s infinite;
}