.container {
  padding-bottom: 100px;
}

.title {
  margin-bottom: 23px;
}

.btn {
  margin-top: 15px;

  @media (max-width: 768px) {
    opacity: 1 !important;
    color: hsl(0deg 0% 100% / 60%) !important;
  }
}