.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 35px 0;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 35px 0;
  }
}