.container {
  padding-bottom: 65px;

  @media (width <= 576px) {
    padding-bottom: 50px;
  }
}

.title {
  margin-bottom: 25px;
}

.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  margin-bottom: 35px;

  @media (width <= 992px) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }

  @media (width <= 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width <= 480px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

.card {
  max-width: 200px;
  height: auto;
}