.container {
  height: calc(100vh - 250px);
  max-width: 820px;
  margin: 45px auto 0;

  @media (width <= 992px) {
    max-width: 620px;
  }
}

.text {
  display: flex;
  justify-content: center;
}

.swiper {
  padding: 6px 4px;
}