.root {
  margin-bottom: 35px;

  @media (max-width: 576px) {
    display: none;
  }
}

.row {
  display: flex;
}

.row:not(:last-child) {
  margin-bottom: 12px;
}

.label {
  display: block;
  font-size: 15px;
  line-height: 19px;
  margin-right: 10px;
  color: hsl(0deg 0% 100% / 60%);
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.item:not(:last-child)::after {
  content: ",";
  cursor: text;
}

.item:not(:last-child) {
  margin-right: 7px;
}

.link {
  position: relative;
  display: inline-block;
  font-size: 15px;
  line-height: 19px;
  padding: 1px 0;
  color: var(--color-white);
}

.link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: hsl(0deg 0% 100% / 30%);
  transition: height .2s;
}

.link:hover::before {
  height: calc(100% + 1px);
}