/* stylelint-disable no-descending-specificity */

.link {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--color-white);

  &:hover {
    .name {
      color: var(--color-second);
    }
  }

  @media (max-width: 768px) {
    &:hover {
      .name {
        color: var(--color-white);
      }
    }
  }
}

.image {
  position: relative;
  width: 50px;
  height: 75px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 7px;
  margin-right: 15px;
  background-color: var(--color-loader);
}

.text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
}

.name {
  display: block;
  margin-bottom: 6px;
  text-align: start;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  max-width: 80%;
  transition: color var(--duration);

  @media (max-width: 1200px) {
    max-width: 100%;
  }
}

.year {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: rgba(#fff, 0.7);
  margin-right: 10px;
}