.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  border-radius: 10px;
  color: var(--color-white);
  background-color: var(--color-gray-100);
  transition:
    background-color var(--duration),
    color var(--duration);
  font-size: 13.5px;
  line-height: 18px;
  min-width: 43px;
  min-height: 43px;
  padding: 12px;
}

.btn:hover {
  background-color: var(--color-gray-200);
}

.disabled {
  cursor: default;
  color: hsl(0deg 0% 100% / 40%);
}

@keyframes shimmer-animation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100px);
  }
}

.disabled::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.7;
  background-image: linear-gradient(
    90deg,
    hsl(0deg 0% 100% / 0%),
    hsl(0deg 0% 100% / 20%) 20%,
    hsl(0deg 0% 100% / 50%) 60%,
    hsl(0deg 0% 100% / 0%)
  );
  animation: shimmer-animation 1.5s infinite;
}
