.copy {
  display: flex;
  align-items: center;
  font-size: 13.5px;
  line-height: 15px;
  font-weight: 300;
  color: var(--color-white);
  padding: 15px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: var(--rounded-full);
  background-color: hsl(0deg 0% 100% / 10%);
  margin-right: 13px;
}