.container {
  width: calc(100% - 18px);
  max-width: 768px;
  border-radius: 15px;
  background-color: var(--color-gray-100);
  vertical-align: bottom !important;
}

.modal {
  vertical-align: bottom !important;
  padding: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.title {
  margin-bottom: 20px;
  padding: 0 15px;
}
