.item {
  padding-top: 15px;
  padding-bottom: 17px;
  color: var(--color-white);
  border-top: 1px solid hsl(0deg 0% 100% / 20%);
  font-size: 14px;
  line-height: 22px;
}

.item:last-child {
  border-bottom: 1px solid hsl(0deg 0% 100% / 20%);
}

.item a {
  position: relative;
  display: inline-block;
  font-weight: 400;
  color: inherit;
  outline: none;
}

.item a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: hsl(0deg 0% 100% / 40%);
  transition: height .2s;
}

.item a:hover::before {
  height: 100%; 
}