.root {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 13px;
  margin-bottom: 10px;
}

.item {
  color: hsl(0deg 0% 100% / 60%);
  font-weight: 300;

  @media (width <= 576px) {
    font-size: 14px;
    line-height: 14px;
  }
}