.swiper {
  overflow: visible !important;
}

.swiperSlide {
  width: 17% !important;

  @media (max-width: 1400px) {
    width: 18% !important;
  }

  @media (max-width: 1300px) {
    width: 250px !important;
  }

  @media (max-width: 1024px) {
    width: 25% !important;
  }

  @media (max-width: 1024px) {
    width: 38% !important;
  }
}