.menu {
  position: fixed;
  background-color: var(--color-overlay);
  z-index: var(--modal-z-index);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 24px 30px 30px;
  opacity: 0;
  visibility: hidden;
  transition:
  opacity var(--duration),
  visibility var(--duration);

  @media (width <= 864px) {
    &.open {
      opacity: 1;
      visibility: visible;

      .closeBtn {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.closeBtn {
  position: absolute;
  top: 24px;
  right: 24px;
}

.container {
  padding: 70px 25px 30px;
}

.listItem {
  position: relative;
  margin-bottom: 20px;

  &.active {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -10px;
      width: 2px;
      height: 100%;
      background-color: var(--color-white);
    }
  }
}

.link {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--color-white);
}