.slide {
  width: calc(11.11% - 15px) !important;

  @media (max-width: 1200px) {
    width: calc(12.5% - 12px) !important;
  }

  @media (max-width: 1024px) {
    width: calc(16.67% - 12px) !important;
  }

  @media (max-width: 768px) {
    width: calc(20% - 7px) !important;
  }

  @media (max-width: 576px) {
    width: calc(37.33% - 24px) !important;
  }
}

.swiper {
  padding-top: 3px !important;
  margin-left: -10px !important;
  margin-right: -10px !important;
}