.item:not(:last-child) {
  margin-right: 9px;
}

.link {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  font-size: 14px;
  line-height: 17px;
  border-radius: 8px;
  font-weight: 400;
  color: var(--color-white);
  background-color: rgb(34 34 37 / 75%);
  transition: background-color var(--duration);
  text-decoration: none;
}

.link:hover {
  background-color: var(--color-gray-200);

  @media (max-width: 768px) {
    background-color: rgb(34 34 37 / 75%);
  }
}

.icon {
  margin-right: 8px;
  opacity: 0.7;

  @media (max-width: 768px) {
    opacity: 1;
  }
}

.title {
  opacity: 0.7;

  @media (max-width: 768px) {
    opacity: 1;
  }
}
