.swiper-slide {
  border-radius: var(--radius);
}

.swiper-button-disabled {
  visibility: hidden;
  opacity: 0;
}

.custom-prev-button,
.custom-next-button {
  padding: 10px;
  font-size: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 50px;
  height: 70px;
  border: none;
  font-family: inherit;
  padding: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.custom-prev-button::before,
.custom-next-button::before {
  content: "";
  position: absolute;
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
  background: hsla(258, 4%, 55%, 0.32);
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: none;
  border-radius: 8px;
  transition: transform 0.2s;
}

.custom-prev-button:hover::before,
.custom-next-button:hover::before {
  background: radial-gradient(
    100% 100% at 100% 0,
    hsla(257, 5%, 74%, 0.32) 0,
    hsla(258, 4%, 55%, 0.32) 100%
  );
  transform: scale(1.2) translateZ(0);
}

.custom-prev-button {
  left: 20px;
}

.custom-next-button {
  right: 20px;
}

.img-prev,
.img-next {
  filter: brightness(0) invert(1);
}

.img-next {
  transform: rotate(-180deg);
}
