.photoWrapper {
  position: relative;
  display: block;
  border-radius: 100%;
  flex-shrink: 0;
  width: 160px;
  height: 160px;
  overflow: hidden;
  margin-right: 30px;
  grid-area: photo;
  background-color: hsl(0deg 0% 100% / 8%);
}

.photo {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  color: transparent;
  max-width: 100%;
  object-fit: cover;
}