.container {
  padding-top: 0;
  padding-bottom: 80px;

  @media (max-width: 576px) {
    padding-bottom: 50px;
  }
}

.section {
  overflow: hidden;
}

.title {
  margin-bottom: 20px;

  @media (max-width: 576px) {
    margin-bottom: 15px;
  }
}