.btns {
  display: flex;
  align-items: center;
}

.btnWatch {
  background: linear-gradient(85.23deg,#b22222,#c51919);
}

.btnWatchText {
  z-index: 2;
}

.btnWatch::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  transition: background-color var(--duration);
}

.btnWatch:hover::before {
  background: #d01414;
}