.btns {
  display: flex;
  align-items: center;

  @media (max-width: 576px) {
    width: 100%;
    flex-direction: column;
  }
}

.btn {
  @media (max-width: 576px) {
    width: 100%;
  }

  &:not(:first-child) {
    margin-left: 12px;

    @media (max-width: 576px) {
      display: none;
    }
  }
}

.btnWatch {
  background: linear-gradient(85.23deg,#b22222,#c51919);
}

.btnWatchText {
  z-index: 2;
}

.btnWatch::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  transition: background-color var(--duration);
}

.btnWatch:hover::before {
  background: #d01414;

  @media (max-width: 576px) {
    background: linear-gradient(85.23deg,#b22222,#c51919);
  }
}