.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 85px;
  width: 85px;
}

.label {
  font-size: 11px;
  line-height: 18px;
  color: var(--color-white);
  margin-top: 7px;
}

.round {
  border-radius: var(--rounded-full);
}

.icon {
  width: 22px;
  height: 22px;
  fill: transparent;
  
  &.fill {
    fill: var(--color-white);
  }
}