.item {
  border-radius: var(--radius);
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  transition: transform var(--duration);
  cursor: pointer;
}

.item:hover {
  transform: scale(1.03);
}

.item:hover .content {
  opacity: 1;
  visibility: visible;
  background-color: rgba(0,0,0,.85);
}

.link {
  color: var(--color-white);
}

.image {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
  border-radius: var(--radius);
}

.imageWrapper {
  position: relative;
  display: block;
  border-radius: var(--radius);
  padding-top: 150%;
  background-color: var(--color-loader);
}

.imageWrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--radius);
  border: 1px solid hsla(0,0%,100%,.1);
}

.content {
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 23px 20px;
  justify-content: flex-end;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0,0,0,.5);
  border: 1px solid hsla(0,0%,100%,.1);
  transition: opacity var(--duration),visibility var(--duration),background-color var(--duration);
}

.rating {
  position: absolute;
  top: 23px;
  left: 20px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-weight: 400;
  background-color: hsla(258,4%,55%,.32);
  border-radius: 5px;
  font-size: 15px;
  line-height: 24px;
  padding: 0 5px;
}

.name {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
}

.info {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.year, .length {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: hsla(0,0%,100%,.8);
  margin-right: 12px;
}

.length {
  white-space: nowrap;
}