.item {
  height: 100%;
  padding: 30px 0;
}

.avatar {
  border-radius: var(--rounded-full);
}

.info {
  display: flex;
  flex-direction: column;
  width: max-content;
  gap: 8px;
}

.logoutBtn {
  padding: 0 5px;
  width: max-content;
}