.section {
  padding: 20px 0 45px;
  position: relative;

  @media (width <= 576px) {
    padding: 13px 0 28px;
  }
}

.base {
  width: 100%;
  position: relative;
}

.list {
  display: flex;
  overflow-x: auto;
}

.list::-webkit-scrollbar {
  display: none;
}

.end::before,
.start::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 55px 55px var(--color-main);
  transition: opacity var(--duration);
}

.start::after {
  right: 0;
}
