.title {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 10px;
}

.desc {
  font-size: 12px;
  line-height: 16px;
  color: rgba(#fff, 0.6);
  transition: opacity var(--duration);
  margin-top: 4px;
  text-align: start;
}