.container {
  padding-bottom: 100px;

  @media (width <= 576px) {
    padding-bottom: 70px;
  }
}

.title {
  margin-bottom: 23px;
}

.btn {
  margin-top: 15px;

  @media (width <= 768px) {
    opacity: 1 !important;
    color: hsl(0deg 0% 100% / 60%) !important;
  }

  @media (width <= 576px) {
    font-size: 11.5px;
    line-height: 21px;
    margin-top: 9px;
  }
}
