.item {
  border-radius: var(--radius);
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  transition: transform var(--duration);
}

.item:hover {
  transform: scale(1.03);
}

.content {
  position: absolute;
  z-index: 2;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 23px 20px;
  justify-content: flex-end;
  opacity: 0;
  visibility: hidden;
  background-color: rgb(0 0 0 / 50%);
  border: 1px solid hsl(0deg 0% 100% / 10%);
  border-radius: var(--radius);
  transition:
    opacity var(--duration),
    visibility var(--duration),
    background-color var(--duration);
}

.item:hover .content {
  opacity: 1;
  visibility: visible;
  background-color: rgb(0 0 0 / 85%);
}

.link {
  color: var(--color-white);
  display: block;
}

.image {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
  border-radius: var(--radius);
}

.imageWrapper {
  position: relative;
  display: block;
  border-radius: var(--radius);
  padding-top: 150%;
  background-color: var(--color-loader);
}

.imageWrapper::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  border-radius: var(--radius);
  border: 1px solid hsl(0deg 0% 100% / 10%);
}

.rating {
  position: absolute;
  top: 23px;
  left: 20px;
}

.name {
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
}

.info {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.year,
.length {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: hsl(0deg 0% 100% / 80%);
  margin-right: 12px;
}
