.section {
  position: relative;
}

.section::before, .section::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  background: linear-gradient(90deg,#000 3.31%,rgba(0,0,0,.99) 7.71%,rgba(0,0,0,.96) 12.11%,rgba(0,0,0,.91) 16.51%,rgba(0,0,0,.85) 20.91%,rgba(0,0,0,.76) 25.31%,rgba(0,0,0,.67) 29.71%,rgba(0,0,0,.55) 34.11%,rgba(0,0,0,.44) 38.52%,rgba(0,0,0,.33) 42.92%,rgba(0,0,0,.23) 47.32%,rgba(0,0,0,.15) 51.72%,rgba(0,0,0,.08) 56.12%,rgba(0,0,0,.03) 60.52%,rgba(0,0,0,.01) 64.92%,transparent 69.32%);
}

.section::before {
  top: 0;
  left: -1px;
  width: 100%;
}

.section::after {
  z-index: -1;
  left: 0;
  top: 100px;
  bottom: -1px;
  right: 0;
  background: linear-gradient(180deg,transparent 50%,transparent 52.63%,rgba(0,0,0,.03) 55.25%,rgba(0,0,0,.08) 57.88%,rgba(0,0,0,.14) 60.51%,rgba(0,0,0,.23) 63.13%,rgba(0,0,0,.33) 65.76%,rgba(0,0,0,.44) 68.39%,rgba(0,0,0,.55) 71.01%,rgba(0,0,0,.66) 73.64%,rgba(0,0,0,.77) 76.27%,rgba(0,0,0,.85) 78.89%,rgba(0,0,0,.92) 81.52%,rgba(0,0,0,.96) 84.15%,rgba(0,0,0,.99) 86.77%,#000 89.4%);
}

.height {
  display: block;
  padding-bottom: 45%;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: top 30% right;
  background-size: cover;
}

.container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

.content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.btns {
  display: flex;
  align-items: center;
}

.btnWatch {
  background: linear-gradient(85.23deg,#b22222,#c51919);
}

.textWatch {
  z-index: 2;
}

.btnWatch::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color var(--duration);
}

.btnWatch:hover::before {
  background: #d01414;
}

.trailer {
  width: 948px;
  max-width: calc(100vw - 100px);
}

.movie {
  width: 100%;
  height: 100%;
}

.close {
  top: 25px;
  right: 30px;
  width: 28px;
  height: 28px;
  backdrop-filter: blur(7px);
  background-color: hsla(0,0%,100%,.2);
}