.section {
  position: relative;

  @media (width <= 992px) {
    margin-bottom: 64px
  }

  @media (width <= 576px) {
    margin-bottom: 35px;
  }
}

.section::before, .section::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  background: linear-gradient(90deg,#000 3.31%,rgb(0 0 0 / 99%) 7.71%,rgb(0 0 0 / 96%) 12.11%,rgb(0 0 0 / 91%) 16.51%,rgb(0 0 0 / 85%) 20.91%,rgb(0 0 0 / 76%) 25.31%,rgb(0 0 0 / 67%) 29.71%,rgb(0 0 0 / 55%) 34.11%,rgb(0 0 0 / 44%) 38.52%,rgb(0 0 0 / 33%) 42.92%,rgb(0 0 0 / 23%) 47.32%,rgb(0 0 0 / 15%) 51.72%,rgb(0 0 0 / 8%) 56.12%,rgb(0 0 0 / 3%) 60.52%,rgb(0 0 0 / 1%) 64.92%,transparent 69.32%);

  @media (width <= 992px) {
    display: none;
  }
}

.section::before {
  top: 0;
  left: -1px;
  width: 100%;
}

.section::after {
  z-index: -1;
  inset: 100px 0 -1px;
  background: linear-gradient(180deg,transparent 50%,transparent 52.63%,rgb(0 0 0 / 3%) 55.25%,rgb(0 0 0 / 8%) 57.88%,rgb(0 0 0 / 14%) 60.51%,rgb(0 0 0 / 23%) 63.13%,rgb(0 0 0 / 33%) 65.76%,rgb(0 0 0 / 44%) 68.39%,rgb(0 0 0 / 55%) 71.01%,rgb(0 0 0 / 66%) 73.64%,rgb(0 0 0 / 77%) 76.27%,rgb(0 0 0 / 85%) 78.89%,rgb(0 0 0 / 92%) 81.52%,rgb(0 0 0 / 96%) 84.15%,rgb(0 0 0 / 99%) 86.77%,#000 89.4%);
}

.height {
  display: block;
  padding-bottom: 45%;

  @media (width <= 992px) {
    display: none;
  }
}

.bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: top 30% right;
  background-size: cover;

  @media (width <= 992px) {
    bottom: auto;
    height: fit-content;
    padding-bottom: 56.25%;

    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      left: 0;
      height: 100%;
      bottom: -1px;
      right: 0;
      background: linear-gradient(180deg,transparent 50%,transparent 52.63%,rgb(0 0 0 / 3%) 55.25%,rgb(0 0 0 / 8%) 57.88%,rgb(0 0 0 / 14%) 60.51%,rgb(0 0 0 / 23%) 63.13%,rgb(0 0 0 / 33%) 65.76%,rgb(0 0 0 / 44%) 68.39%,rgb(0 0 0 / 55%) 71.01%,rgb(0 0 0 / 66%) 73.64%,rgb(0 0 0 / 77%) 76.27%,rgb(0 0 0 / 85%) 78.89%,rgb(0 0 0 / 92%) 81.52%,rgb(0 0 0 / 96%) 84.15%,rgb(0 0 0 / 99%) 86.77%,#000 89.4%);
    }
  }

  @media (width <= 576px) {
    padding-bottom: 70%;
    background-position: center;
  }
}

.container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;

  @media (width <= 992px) {
    padding-top: 40%;
    position: static;
    transform: translateX(0);
  }
}

.content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.trailer {
  position: relative;
  z-index: 2;
  margin: 35px auto;
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
  background-color: #000;
  width: 948px;
  max-width: calc(100vw - 100px);
}

.movie {
  width: 100%;
  height: 100%;
}

.close {
  width: 30px;
  height: 30px;
  top: 40px;
  right: 40px;
  border-radius: var(--rounded-full);
  backdrop-filter: blur(7px);
  background-color: hsl(0deg 0% 100% / 20%);
}