.title {
  display: inline-flex;
  align-items: center;
  color: var(--color-white);
  font-weight: 700;
}

.xs {
  font-size: 13px;
  line-height: 18px;
}

.small {
  font-size: 22px;
  line-height: 26px;

  @media (width <= 576px) {
    font-size: 17px;
    line-height: 22px;
  }

  @media (width <= 375px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.medium {
  font-weight: 500;
  font-size: 23px;
  line-height: 29px;

  @media (width <= 576px) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (width <= 375px) {
    font-size: 18px;
    line-height: 22px;
  }
}

.large {
  font-size: 32px;
  line-height: 43px;
  font-weight: 600;

  @media (width <= 576px) {
    font-size: 24px;
    line-height: 32px;
  }
}

.xl {
  font-size: 41px;
  line-height: 49px;

  @media (width <= 576px) {
    font-size: 28px;
    line-height: 36px;
  }
}

.chevron {
  margin-bottom: 14px;
}

.iconWrapper {
  margin-top: 3px;
  margin-left: 12px;
  opacity: 0.7;
  transform: rotate(180deg);
  transition: transform var(--duration);
}

.icon {
  display: block;
  width: 15px;
  height: 15px;
  fill: var(--color-white);
  filter: brightness(0) invert(0.85);
  transition: transform var(--duration);
}

@media (any-hover: hover) {
  .title:hover .iconWrapper .icon {
    transform: translateX(-2px);
  }
}
