.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;

  @media (width <= 768px) {
    display: none;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.title {
  padding: 20px 0;
}