.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 10px;
  min-width: 52px;
  min-height: 52px;
  background-color: hsl(0deg 0% 100% / 20%);
  backdrop-filter: blur(5px);
  border-radius: var(--rounded-full);

  @media (width <= 576px) {
    scale: .8;
    left: 7px;
  }
}